<!DOCTYPE html>
{%extends 'luminarApp/centerHead.html'%}
{%block body_block%}
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
<table class="table">
    <tr>
        <td>admission_no</td>
        <td>enquiryid</td>
        <td>coursefees</td>
        <td>batchcode</td>
        <td>date</td>
    </tr>
    {%for i in adm%}
    <tr>
        <td>{{i.admission_no}}</td>
        <td>{{i.enquiryid}}</td>
        <td>{{i.coursefees}}</td>
        <td>{{i.batchcode}}</td>
        <td>{{i.date}}</td>
        <td><a href="{%url 'admissionedit' i.id%}" class="btn btn-primary">Edit</a></td>
        <td><a href="{%url 'admissiondelete' i.id%}" class="btn btn-danger">Delete</a></td>
    </tr>
    {%endfor%}
</table>
</body>
{%endblock%}
</html>