<!DOCTYPE html>
{%extends 'luminarApp/centerHead.html'%}
{%block body_block%}
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
<table class="table">
    <tr>
        <td>Employee ID</td>
        <td>Employee name</td>
        <td>Subject</td>
        <td>Salary</td>
    </tr>
    {%for emp in emplo%}
    <tr>
        <td>{{emp.employee_id}}</td>
        <td>{{emp.employee_name}}</td>
        <td>{{emp.subject}}</td>
        <td>{{emp.salary}}</td>
        <td><a href="{%url 'employeeedit' emp.id%}" class="btn btn-primary">Edit</a></td>
        <td><a href="{%url 'employeedelete' emp.id%}" class="btn btn-danger">Delete</a></td>
    </tr>
    {%endfor%}
</table>
</body>
{%endblock%}
</html>