<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
<table>
    <tr>
        <td>Employee ID</td>
        <td>Employee name</td>
        <td>Subject</td>
        <td>Salary</td>
    </tr>
    {%for emp in employee%}
    <tr>
        <td>{{emp.employee_id}}</td>
        <td>{{emp.employee_name}}</td>
        <td>{{emp.subject}}</td>
        <td>{{emp.salary}}</td>
        <td><a href="{%url 'employeeedit' emp.id%}">Edit</a></td>
        <td><a href="{%url 'employeedelete' emp.id%}">Delete</a></td>
    </tr>
    {%endfor%}
</table>
</body>
</html>