<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
</body>
<table>
    <tr>
        <td>enquiryId</td>
        <td>student_name</td>
        <td>address</td>
        <td>qualification</td>
        <td>collegename</td>
        <td>course</td>
        <td>batch</td>
        <td>contact</td>
        <td>email</td>
        <td>enquirydate</td>
        <td>followup_date</td>
        <td>status</td></tr>
    {%for i in enquiry%}
    <td>{{i.enquiryId}}</td>
        <td>{{i.student_name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.qualification}}</td>
        <td>{{i.collegename}}</td>
        <td>{{i.course}}</td>
        <td>{{i.batch}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.email}}</td>
        <td>{{i.enquirydate}}</td>
        <td>{{i.followup_date}}</td>
        <td>{{i.status}}</td>
    <td><a href="{%url 'enquiryedit' i.id%}">Edit</a></td>
    <td><a href="{%url 'enquirydelete' i.id%}">Delete</a></td>

    </tr>

    {%endfor%}
</table>
</html>