<!doctype html>
<html lang="en">
{%extends 'luminarApp/centerHead.html'%}
{%block body_block%}
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>

<table class="table">
    <tr>
        <td>enquiryId</td>
        <td>student_name</td>
        <td>address</td>
        <td>qualification</td>
        <td>collegename</td>
        <td>course</td>
        <td>batch</td>
        <td>contact</td>
        <td>email</td>
        <td>enquirydate</td>
        <td>followup_date</td>
        <td>status</td></tr>
    {%for i in enq%}
    <td>{{i.enquiryId}}</td>
        <td>{{i.student_name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.qualification}}</td>
        <td>{{i.collegename}}</td>
        <td>{{i.course}}</td>
        <td>{{i.batch}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.email}}</td>
        <td>{{i.enquirydate}}</td>
        <td>{{i.followup_date}}</td>
        <td>{{i.choice}}</td>
    <td><a href="{%url 'enquiryedit' i.id%}" class="btn btn-primary">Edit</a></td>
    <td><a href="{%url 'enquirydelete' i.id%}" class="btn btn-danger">Delete</a></td>

    </tr>

    {%endfor%}
</table>
</body>
{%endblock%}
</html>