<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Create</title>
</head>
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>

<table>
    <tr>
        <td>admission_no</td>
        <td>amount</td>
        <td>payment_date</td>
        <td>enquiryid</td>
    </tr>
    {%for i in admission%}
    <tr>
        <td>{{i.admission_no}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.payment_date}}</td>
        <td>{{i.enquiryid}}</td>
        <td><a href="{%url 'paymentedit' i.id%}">Edit</a></td>
        <td><a href="{%url 'paymentdelete' i.id%}">Delete</a></td>
    </tr>
    {%endfor%}
</table>

</body>
</html>