<!DOCTYPE html>
{%extends 'luminarApp/centerHead.html'%}
{%block body_block%}
<body>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
<table class="table">
    <tr>
        <td>Student ID</td>
        <td>Student name</td>
        <td>Course</td>
        <td>Fees</td>
    </tr>
    {%for stu in student%}
    <tr>
        <td>{{stu.student_id}}</td>
        <td>{{stu.student_name}}</td>
        <td>{{stu.course}}</td>
        <td>{{stu.total_fees}}</td>
        <td><a href="{%url 'studentedit' stu.id%}" class="btn btn-primary">Edit</a></td>
        <td><a href="{%url 'studentdelete' stu.id%}" class="btn btn-danger">Delete</a></td>
    </tr>
    {%endfor%}
</table>
</body>
{%endblock%}
</html>